<div class="acces-rapide">
  <nav aria-label="Accès rapide">
    <ul class="menu">
      <li>
        <a href="#content">Contenu</a>
      </li>
      <li>
        <a href="#navigation">Menu</a>
      </li>
      <li>
        <a href="#footer">Pied de page</a>
      </li>
    </ul>
  </nav>
</div>
