<header>
  <div>
    <img alt="" src="/hantheia/favicon.png">
    <span>Hantheia</span>
  </div>
  <nav id="navigation" aria-label="Menu principal">
    <ul class="menu">
      <li><a href="/hantheia">Accueil</a></li>
      <li><a href="/hantheia/notre-equipe-nos-valeurs">Notre équipe, nos valeurs</a></li>
      <li><a href="/hantheia/medico-social">Médico-social</a></li>
      <li><a href="/hantheia/entreprises-et-services-publics">Entreprises et services publics</a></li>
      <li><a href="/hantheia/particuliers">Particuliers</a></li>
      <li><a href="/hantheia/videos-et-articles">Vidéos et articles</a></li>
      <li><a href="/hantheia/nous-contacter">Nous contacter</a></li>
    </ul>
  </nav>
</header>