<footer>
  <ul id="footer">
    <li><a href="/hantheia/mentions-legales">Mentions légales et conditions générales de vente</a></li>
    <li><a href="/hantheia/accessibilite">Accessibilité : partiellement conforme</a></li>
    <li><a href="/hantheia/gestion-des-cookies">Gérer les cookies</a></li>
    <li>01 XX XX XX XX - <a href="mailto:contact@hantheia.fr">contact@hantheia.fr</a></li>
    <li>
      <a href="https://www.linkedin.com/"><img loading="lazy" alt="Linkedin" src=""></a>
      <a href="https://youtube.com"><img loading="lazy" alt="Youtube" src=""></a>
      <a href="https://facebook.com"><img loading="lazy" alt="Facebook" src=""></a>
    </li>
  </ul>
</footer>