---
import Layout from "./_composants/Layout.astro";
---

<Layout title="Entreprises et services publics">
  <h1 class="h1">Entreprises et services publics</h1>
  <p>
    Pour vous accompagner dans les problématiques que vous rencontrez, nous vous proposons de choisir entre deux modalités d’intervention : la formation et le soutien à la résolution de difficultés.
  </p>
  <h2 class="h2">Formation</h2>
  <p>___PDF à télécharger___</p>
  <h2 class="h2">Soutien à la résolution de difficultés</h2>
  <p>
    Au quotidien dans les entreprises et services publics, des situations problématiques en lien avec le handicap ou la vulnérabilité surviennent. Face à leur complexité ou à leur récurrence, les managers, salariés et agents peuvent avoir besoin de soutien. C’est précisément dans ce contexte que nous vous proposons d’intervenir.
  </p>
  <p>
    Ces difficultés et crises peuvent correspondre aux cas suivants :
  </p>
  <ul>
    <li>agressions au sein de l’établissement (entre un professionnel et une personne ou entre personnes accompagnées) ;</li>
    <li>problèmes récurrents dans l’accompagnement d’une personne (addiction, fuite, comportements à risque, comportements perturbateurs…) ;</li>
    <li>conflits au sein d’une équipe ;</li>
    <li>questionnements sur la mise en pratique concrète des grands concepts théoriques (autodétermination, pouvoir d’agir, coconstruction, bientraitance).</li>
  </ul>
  <p>Deux consultantes interviennent pour vous accompagner. L’expertise proposée est double :</p>
  <ul>
    <li>regard juridique qui va transmettre les informations en droit ;</li>
    <li>regard spécialisé de la relation d’accompagnement qui propose des applications concrètes.</li>
  </ul>
  <p>Notre méthodologie implique les étapes suivantes :</p>
  <ul>
    <li>présentation de la situation problématique lors d’un échange de 30 minutes par téléphone ou en visioconférence pour définir le périmètre de la situation, les besoins et les attentes ;</li>
    <li>proposition de plan d’intervention contenant objet et contours de la mission, délai de réalisation (calendrier), moyens mobilisés et coût de la prestation ;</li>
    <li>à réception du devis signé, mise en place du protocole ;</li>
    <li>restitution orale et envoi d’une note de synthèse.</li>
  </ul>
  <p>
    Pour plus de renseignements, modalités et tarifs, n’hésitez pas à nous contacter : <a href="mailto:contact@hantheia.fr">contact@hantheia.fr</a> ou XX XX XX XX XX.
    <br>
    AVERTISSEMENT : Notre réponse appuyée sur une double expertise ne se substitue pas à une consultation juridique dispensée par un avocat-conseil.
  </p>
</Layout>