---
import Layout from "./_composants/Layout.astro";
---

<Layout title="Accueil">
  <img alt="" src="/hantheia/accueil.jpg" class="accueil">
  <p>
    <span class="h1">Qui sommes-nous ?</span> Hantheia est un organisme de <strong>formation</strong> et de <strong>soutien</strong> à la résolution de difficultés, crises et conflits.
    <br>
    <span class="h1">Que fait-on ?</span> Nous agissons pour le respect des droits et l’accompagnement humain des personnes en situation de <strong>handicap</strong> et des personnes <strong>vulnérables</strong> à tous les âges de la vie.
    <br>
    <span class="h1">Comment ?</span> Nous nous appuyons sur une double compétence : savoir <strong>juridique</strong> et expertise de la relation de <strong>soin</strong> et d’<strong>accompagnement</strong>.
    <br>
    <span class="h1">Pour qui ?</span> Nous nous adressons au secteur médico-social, aux entreprises, services publics et particuliers.
  </p>
</Layout>
