---
import Layout from "./_composants/Layout.astro";
---

<Layout title="Médico-social">
  <h1 class="h1">Médico-social</h1>
  <p>
    Pour vous accompagner dans les problématiques que vous rencontrez en établissement, nous vous proposons de choisir entre trois modalités d’intervention : la formation, le soutien à la résolution de difficultés ou le forfait questions/réponses.
  </p>
  <h2 class="h2">Formation</h2>
  <p>
    ___PDF à télécharger___
  </p>
  <h2 class="h2">Soutien à la résolution de difficultés</h2>
  <p>
    Au quotidien dans les établissements, des situations problématiques surviennent. Face à leur complexité ou à leur récurrence, les managers peuvent avoir besoin de soutien. C’est précisément dans ce contexte que nous vous proposons d’intervenir.
    <br>
  </p>
  <p>
    Ces difficultés et crises peuvent correspondre aux cas suivants :
  </p>
  <ul>
    <li>agressions au sein de l’établissement (entre un professionnel et une personne ou entre personnes accompagnées) ;</li>
    <li>problèmes récurrents dans l’accompagnement d’une personne (addiction, fuite, comportements à risque, comportements perturbateurs…) ;</li>
    <li>conflits au sein d’une équipe ;</li>
    <li>questionnements sur la mise en pratique concrète des grands concepts théoriques (autodétermination, pouvoir d’agir, coconstruction, bientraitance).</li>
  </ul>
  <p>Deux consultantes interviennent pour vous accompagner. L’expertise proposée est double :</p>
  <ul>
    <li>regard juridique qui va transmettre les informations en droit ;</li>
    <li>regard spécialisé de la relation d’accompagnement qui propose des applications concrètes.</li>
  </ul>
  <p>Notre méthodologie implique les étapes suivantes :</p>
  <ul>
    <li>présentation de la situation problématique lors d’un échange de 30 minutes par téléphone ou en visioconférence pour définir le périmètre de la situation, les besoins et les attentes ;</li>
    <li>proposition de plan d’intervention contenant objet et contours de la mission, délai de réalisation (calendrier), moyens mobilisés et coût de la prestation ;</li>
    <li>à réception du devis signé, mise en place du protocole ;</li>
    <li>restitution orale et envoi d’une note de synthèse.</li>
  </ul>
  <p>
    Pour plus de renseignements, modalités et tarifs, n’hésitez pas à nous contacter : <a href="mailto:contact@hantheia.fr">contact@hantheia.fr</a> ou XX XX XX XX XX.
    <br>
    AVERTISSEMENT : Notre réponse appuyée sur une double expertise ne se substitue pas à une consultation juridique dispensée par un avocat-conseil.
  </p>
  <h2 class="h2">Forfait questions/réponses</h2>
  <p>
    Nous répondons à vos questions liées à une situation au sein de l’établissement dont la problématique relève de l’humain.
    <br>
    Notre réponse apporte un double éclairage : information juridique et expertise de l’enjeu relationnel.
    <br>
    Notre champ d’intervention porte sur les sujets suivants : le sexe et l’amour, les violences et la toxicité, la nourriture, l’argent, les sorties et invitations, la santé et les soins du corps, les activités et la citoyenneté, l’entourage, la communication.
  </p>
  <p>
    En lien avec les situations que vous nous soumettez, l’éclairage juridique posera le cadre légal en répondant à des problématiques telles que la responsabilité des professionnels, les mesures de protection juridique (tutelle, curatelle…), la question de la liberté face au risque, les aides à la compensation, les délits et crimes, etc.
    <br>
    L’éclairage sur les enjeux relationnels donnera des clés concrètes à mettre en place au sein d’une équipe et dans la relation professionnel/personne accompagnée afin de rendre opérationnelles les informations juridiques.
  </p>
  <p>Deux formules sont possibles :</p>
  <ul>
    <li>Forfait  trimestriel : 3 questions/réponses, 300 € HT par mois, soit 900 € HT ;</li>
    <li>Forfait annuel : 10 questions/réponses, 200 € HT par mois, soit 2 000 € HT.</li>
  </ul>
  <p>Aucune question n’est traitée en juillet et août.</p>
  <p>Un questionnaire vous est envoyé, il doit être rempli par vos soins chaque mois. La réponse vous est apportée lors d’un échange d’une heure en visioconférence. Un document écrit comportant les références juridiques vous est transmis.</p>
  <p>Pour plus de renseignements, n’hésitez pas à nous contacter : <a href="mailto:contact@hantheia.fr">contact@hantheia.fr</a> ou XX XX XX XX XX.</p>
  <p>AVERTISSEMENT : Notre réponse appuyée sur une double expertise ne se substitue pas à une consultation juridique dispensée par un avocat-conseil. </p>
</Layout>