---
import Layout from "./_composants/Layout.astro";
---

<Layout title="Mentions légales et conditions générales de vente">
  <h1 class="h1">Conditions générales de vente</h1>
  <h2 class="h2">Article 1 - Intégralité</h2>
  <p>
    Les présentes conditions générales expriment l’intégralité des obligations des parties. Elles constituent le socle unique de la relation commerciale entre les parties, et, en ce sens, le Client est réputé les accepter sans réserve.
    <br>
    Les présentes conditions générales prévalent sur tout autre document, et notamment sur toutes conditions générales d’achat. Elles s’appliquent, sans restriction ni réserve, à tous les services rendus par le Prestataire auprès des Clients.
    <br>
    Le Prestataire et le Client conviennent que les présentes conditions générales régissent exclusivement leur relation. Le Prestataire se réserve le droit de modifier ponctuellement ses conditions générales. Elles seront applicables dès leur mise en ligne.
    <br>
    Si une condition de prestation de services venait à faire défaut, elle serait considérée comme régie par les usages en vigueur dans le droit commun à l’égard des sociétés dont le siège est en France.
    <br>
    Toute commande de Services implique, de la part du Client, l’acceptation des présentes Conditions générales de vente et des conditions générales d’utilisation du site internet du Prestataire. Les renseignements figurant sur les catalogues, prospectus et tarifs du Prestataire sont donnés à titre indicatif et sont révisables à tout moment. Le Prestataire est en droit d’y apporter toutes modifications qui lui paraîtront utiles.
    <br>
    Le Prestataire se réserve le droit de déroger à certaines clauses des présentes, en fonction des négociations menées avec le Client, par l’établissement de conditions de vente particulières.
  </p>
  <h2 class="h2">Article 2 - Contenu</h2>
  <p>
    Les présentes Conditions générales ont pour objet de définir les droits et obligations des parties dans le cadre de la vente des prestations proposées par le Prestataire au Client. Elles concernent les services suivants : formation, soutien à la résolution de difficultés, forfait questions/réponses. Nos prestations ne constituent pas et ne se substituent pas à une consultation juridique par un conseil. Le Prestataire est libre de décliner toute demande, notamment si elle n’entre pas dans son champ de compétence.
    <br>
    Les présentes conditions ne concernent que les prestations effectuées en France pour des Clients situés sur le territoire français. Pour toute prestation effectuée hors de France ou pour un Client situé hors de France, il convient de le signaler pour obtenir un devis spécifique.
  </p>
  <h2 class="h2">Article 3 - Commandes</h2>
  <p>
    Les ventes de Services ne sont parfaites qu’après établissement d’un devis et acceptation expresse et par écrit de la commande du Client par le Prestataire, matérialisé par un accusé de réception émanant du Prestataire et acceptation du devis.
  </p>
  <p>
    En cas d’annulation de la commande par le Client après son acceptation par le Prestataire entre 30 (trente) jours et 7 (sept) jours avant la date prévue pour la Fourniture des Services commandés, pour quelque raison que ce soit hormis la force majeure, une somme correspondant à 60 % (soixante pour cent) du prix total HT des Services ainsi que les frais de mission engagés et non remboursables, seront acquis au Prestataire et facturés au Client, à titre de dommages et intérêts, en réparation du préjudice ainsi subi.
    <br>
    En cas d’annulation de la commande par le Client après son acceptation par le Prestataire moins de 7 (sept) jours avant la date prévue pour la Fourniture des Services commandés, pour quelque raison que ce soit hormis la force majeure, une somme correspondant à 100 % (cent pour cent) du prix total HT des Services ainsi que les frais de mission engagés et non remboursables, seront acquis au Prestataire et facturés au Client, à titre de dommages et intérêts, en réparation du préjudice ainsi subi.
  </p>
  <h2 class="h2">Article 4 - Tarifs</h2>
  <p>
    Les prestations de Services sont fournies aux tarifs du Prestataire en vigueur au jour de la passation de la commande, selon le devis préalablement établi par le Prestataire et accepté par le Client, comme indiqué à l’article « Commandes » ci-dessus. Le devis inclut les frais de mission, liés aux déplacements et à la restauration.
    <br>
    Les tarifs s’entendent nets et HT.
    <br>
    Une facture est établie par le Prestataire et remise au Client lors de chaque Fourniture de Services.
  </p>
  <h2 class="h2">Article 5 - Conditions de règlement</h2>
  <h3 class="h3">5.1 Délais de règlement</h3>
  <p>
    Le prix est payable en totalité et en un seul versement dans un délai de 30 (trente) jours à compter de l’envoi de la facture correspondant au Service commandé. Ce délai sera mentionné sur la facture qui sera remise au Client par le Prestataire.
  </p>
  <h3 class="h3">5.2 Pénalités de retard</h3>
  <p>
    Des pénalités de retard sont dues dans le cas de paiement après les délais de paiement applicables. En cas de retard de paiement et de versement des sommes dues par le Client au-delà du délai ci-dessus fixé, et après la date de paiement figurant sur la facture adressée à celui-ci, des pénalités de retard calculées au taux de 10 % (dix pour cent) du montant TTC du prix des Services figurant sur ladite facture, seront automatiquement et de plein droit acquises au Prestataire, sans formalité aucune ni mise en demeure préalable. Le retard de paiement entraînera l’exigibilité immédiate de la totalité des sommes dues au Prestataire par le Client, sans préjudice de toute autre action que le Prestataire serait en droit d’intenter, à ce titre, à l’encontre du Client.
  </p>
  <h2 class="h2">Article 6 - Responsabilité du Prestataire - Garantie</h2>
  <p>
    Le Prestataire garantit, conformément aux dispositions légales, le Client, contre tout défaut de conformité des Services, à l’exclusion de toute négligence ou faute du Client.
    <br>
    La responsabilité du Prestataire ne peut être engagée qu’en cas de faute ou de négligence prouvée et est limitée aux préjudices directs à l’exclusion de tout préjudice indirect, de quelque nature que ce soit.
    <br>
    Afin de faire valoir ses droits, le Client devra, sous peine de déchéance de toute action s’y rapportant, informer le Prestataire, par écrit, de l’existence de la non conformité du Service dans un délai maximum de 7 (sept) jours à compter de la prestation.
    <br>
    Le Prestataire rectifiera ou fera rectifier, à ses frais exclusifs, selon les modalités adéquates et agréées par le Client, les Services jugés non conformes.
    En tout état de cause, au cas où la responsabilité du Prestataire serait retenue, la garantie du Prestataire serait limitée au montant HT payé par le Client pour la Fourniture des Services.
  </p>
  <h2 class="h2">Article 7 - Droit de la consommation</h2>
  <p>
    Le présent article s’applique uniquement si le Client est un consommateur au sens de l’article liminaire du Code de la consommation.
    <br>
    Les conditions générales de vente sont fournies au consommateur préalablement à toute commande. Sont également transmises au Client consommateur, de manière claire et compréhensible, les informations suivantes : les caractéristiques de la prestation fournie, le prix du service, la date de prestation du service, les coordonnées et mentions légales du Prestataire. Pour les services donnant lieu à l’établissement d’un devis préalable, la vente ne sera considérée comme définitive qu’après établissement d’un devis par le Prestataire et envoi de la confirmation de l’acceptation de la commande par le Client. Les devis établis par le prestataire ont une durée de validité de 15 (quinze) jours.
    <br>
    En cas de manquement du vendeur à son obligation d’exécution à la date ou à l’expiration du délai prévu ci-dessus, ou, à défaut, au plus tard 30 (trente) jours après la conclusion du contrat, le Client consommateur peut résoudre le contrat, dans les conditions des articles L. 216-2, L. 216-3 et L. 216-4 du code de la consommation, par lettre recommandée avec demande d’avis de réception ou par un écrit sur un autre support durable, si, après avoir enjoint, selon les mêmes modalités, le Prestataire de fournir le service dans un délai supplémentaire raisonnable, ce dernier ne s’est pas exécuté dans ce délai.
    <br>
    L’article L. 221-18 du code de la consommation prévoit que le Client consommateur dispose d’un délai de 14 (quatorze) jours pour exercer son droit de rétractation d’un contrat conclu à distance, à la suite d’un démarchage téléphonique ou hors établissement, sans avoir à motiver sa décision ni à supporter d’autres coûts que ceux prévus aux articles L. 221-23 à L. 221-25. En cas de rétractation du Client consommateur plus de 14 (quatorze) jours après la signature du devis, les conditions et les frais mentionnés à l’article 3 « Commandes » des présentes, s’appliquent.
  </p>
  <h2 class="h2">Article 8 - Droit de propriété intellectuelle</h2>
  <p>
    Le Prestataire reste propriétaire de tous les droits de propriété intellectuelle sur les études, dessins, modèles, prototypes, etc., réalisés (même à la demande du Client) en vue de la Fourniture des Services au Client. Le Client s’interdit donc toute reproduction ou exploitation desdites études, dessins, modèles et prototypes, etc., sans l’autorisation expresse, écrite et préalable du Prestataire qui peut la conditionner à une contrepartie financière.
  </p>
  <h2 class="h2">Article 9 - Données personnelles</h2>
  <p>
    Les données personnelles recueillies auprès des Clients font l’objet d’un traitement informatique réalisé par le Prestataire. Elles sont enregistrées dans son fichier Clients et sont indispensables au traitement de sa commande. Ces informations et données personnelles sont également conservées à des fins de sécurité, afin de respecter les obligations légales et réglementaires. Elles seront conservées aussi longtemps que nécessaire pour l’exécution des commandes et des garanties éventuellement applicables.
    <br>
    Le responsable du traitement des données est le Prestataire. L’accès aux données personnelles sera strictement limité aux employés du responsable de traitement, habilités à les traiter en raison de leurs fonctions. Les informations recueillies pourront éventuellement être communiquées à des tiers liés à l’entreprise par contrat pour l’exécution de tâches sous-traitées, sans que l’autorisation du Client soit nécessaire.
    <br>
    Dans le cadre de l’exécution de leurs prestations, les tiers n’ont qu’un accès limité aux données et ont l’obligation de les utiliser en conformité avec les dispositions de la législation applicable en matière de protection des données personnelles. En dehors des cas énoncés ci-dessus, le Prestataire s’interdit de vendre, louer, céder ou donner accès à des tiers aux données sans consentement préalable du Client, à moins d’y être contraint en raison d’un motif légitime.
    Si les données sont amenées à être transférées en dehors de l’UE, le Client en sera informé et les garanties prises afin de sécuriser les données lui seront précisées.
    <br>
    Conformément à la réglementation applicable, le Client dispose d’un droit d’accès, de rectification, d’effacement, et de portabilité des données le concernant, ainsi que du droit de s’opposer au traitement pour motif légitime, droits qu’il peut exercer en s’adressant au responsable de traitement à l’adresse postale ou email suivante : ..... (indiquer l’adresse postale ou email du responsable de traitement). En cas de réclamation, le Client peut adresser une réclamation auprès ..... (du délégué à la protection des données personnelles du Fournisseur/de la Commission Nationale de l’Informatique et des Libertés).
  </p>
  <h2 class="h2">Article 10 - Force majeure</h2>
  <p>
    Les Parties ne pourront être tenues pour responsables si la non-exécution ou le retard dans l’exécution de l’une quelconque de leurs obligations, telles que décrites dans les présentes découle d’un cas de force majeure, au sens de l’article 1218 du code civil ou d’aléas sanitaires ou climatiques exceptionnels indépendants de la volonté des Parties.
    <br>
    La Partie constatant l’événement devra sans délai informer l’autre Partie de son impossibilité à exécuter sa prestation et s’en justifier auprès de celle-ci. La suspension des obligations ne pourra en aucun cas être une cause de responsabilité pour non-exécution de l’obligation en cause, ni induire le versement de dommages et intérêts ou pénalités de retard.
    <br>
    L’exécution de l’obligation est suspendue pendant toute la durée de la force majeure si elle est temporaire. Par conséquent, dès la disparition de la cause de la suspension de leurs obligations réciproques, les Parties feront tous leurs efforts pour reprendre le plus rapidement possible l’exécution normale de leurs obligations contractuelles. Si l’empêchement est définitif, les présentes seront purement et simplement résolues selon les modalités définies à l’article « Résolution pour force majeure ».
  </p>
  <h2 class="h2">Article 11 - Résolution du contrat</h2>
  <p>
    La résolution de plein droit pour force majeure, ne pourra, nonobstant la clause Résolution pour manquement d’une partie à ses obligations figurant ci-après, avoir lieu que 7 (sept) jours après l’envoi d’une mise en demeure notifiée par lettre recommandée avec demande d’avis de réception ou tout acte extrajudiciaire.
    <br>
    En cas de non-respect par l’une ou l’autre des parties des obligations suivantes, non-paiement à l’échéance des Services commandés par le Client, non fourniture du Service par le Prestataire, celui-ci pourra être résolu au gré de la Partie lésée. Il est expressément entendu que cette résolution pour manquement d’une Partie à ses obligations aura lieu de plein droit, la mise en demeure résultant du seul fait de l’inexécution de l’obligation, sans sommation, ni exécution de formalités.
  </p>
  <h2 class="h2">Article 12 - Litiges</h2>
  <p>
    En vue de trouver ensemble une solution à tout litige qui surviendrait dans l’exécution du présent contrat, les contractants conviennent de se réunir dans les 4 (quatre) jours à compter de la réception d’une lettre recommandée avec demande d’avis de réception, notifiée par l’une des deux parties.
    <br>
    La présente procédure de règlement amiable constitue un préalable obligatoire à l’introduction d’une action en justice entre les Parties. Toute action introduite en justice en violation de la présente clause serait déclarée irrecevable.
    <br>
    Toutefois, si au terme d’un délai de 15 (quinze) jours, les Parties n’arrivaient pas à se mettre d’accord sur un compromis ou une solution, le litige serait alors soumis à la compétence juridictionnelle désignée ci-après.
  </p>
  <h2 class="h2">Article 13 - Attribution de juridiction</h2>
  <p>
    Tous les litiges auxquels le présent contrat et les accords qui en découlent pourraient donner lieu, concernant tant leur validité, leur interprétation, leur exécution, leur résolution, leurs conséquences et leurs suites seront soumis aux tribunaux compétents dans les conditions de droit commun.
  </p>
  <h2 class="h2">Article 14 - Langue du contrat - Droit applicable</h2>
  <p>
    Les présentes Conditions générales et les opérations qui en découlent sont régies exclusivement par le droit français.
    <br>
    Elles sont rédigées en langue française. Dans le cas où elles seraient traduites en une ou plusieurs langues, seul le texte français ferait foi en cas de litige.
  </p>
  <h2 class="h2">Article 15 - Acceptation du Client</h2>
  <p>
    Les présentes Conditions générales sont expressément agréées et acceptés par le Client, qui déclare et reconnaît en avoir une parfaite connaissance, et renonce, de ce fait, à se prévaloir de tout document contradictoire et, notamment, ses propres conditions générales d’achat, qui seront inopposables au Prestataire, même s’il en a eu connaissance.
  </p>
  <h1 class="h1">Mentions légales</h1>
  <p>
    La poursuite de la navigation sur ce site vaut acceptation sans réserve des dispositions et conditions d’utilisation qui suivent.
    <br>
    La version actuellement en ligne de ces conditions d’utilisation est la seule opposable pendant toute la durée d’utilisation du site et jusqu’à ce qu’une nouvelle version la remplace.
  </p>
  <h2 class="h2">Article 1 - Informations légales</h2>
  <p>
    Site (ci-après « le site ») : www.hantheia.com
    <br>
    Éditeur (ci-après « l’éditeur ») : Hantheia, SARL au capital de 1000 euros, dont le siège social est situé 9 Madelbos 19380 ALBUSSAC, RCS ..... (RCS), numéro SIREN ..... (numéro SIREN) représentée par Tiphaine Pericard, en sa qualité de gérante.
    <br>
    Numéro de téléphone : ..... (préciser le numéro de téléphone d’accueil de la société)
    <br>
    Adresse de courrier électronique : ..... (indiquer l’adresse e-mail où on peut joindre quelqu’un de la société pour faire valoir un problème concernant le site ou son fonctionnement)
    <br>
    Hébergeur (ci-après « l’hébergeur ») : ..... (dénomination sociale), ..... (forme) au capital de ..... (capital) euros, dont le siège social est situé ..... (siège social), RCS ..... (RCS), numéro SIREN ..... (numéro SIREN) représentée par ..... (prénom) ..... (nom), en sa qualité de ..... (qualité)
    <br>
    Numéro de téléphone : ..... (préciser le numéro de téléphone d’accueil de la société)
    <br>
    Adresse de courrier électronique : ..... (indiquer l’adresse e-mail où on peut joindre quelqu’un de la société pour faire valoir un problème concernant le site ou son fonctionnement)
  </p>
  <h2 class="h2">Article 2 - Accès au site</h2>
  <p>
    L’accès au site et son utilisation sont réservés à un usage strictement personnel. Vous vous engagez à ne pas utiliser ce site et les informations ou données qui y figurent à des fins commerciales, politiques, publicitaires et pour toute forme de sollicitation commerciale et notamment l’envoi de courriers électroniques non sollicités.
  </p>
  <h2 class="h2">Article 3 - Contenu du site</h2>
  <p>
    Toutes les marques, photographies, textes, commentaires, illustrations, images animées ou non, séquences vidéo, sons, ainsi que toutes les applications informatiques qui pourraient être utilisées pour faire fonctionner ce site et plus généralement tous les éléments reproduits ou utilisés sur le site sont protégés par les lois en vigueur au titre de la propriété intellectuelle.
    <br>
    Ils sont la propriété pleine et entière de l’éditeur ou de ses partenaires. Toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces éléments, y compris les applications informatiques, sans l’accord préalable et écrit de l’éditeur, sont strictement interdites. Le fait pour l’éditeur de ne pas engager de procédure dès la prise de connaissance de ces utilisations non autorisées ne vaut pas acceptation desdites utilisations et renonciation aux poursuites.
  </p>
  <h2 class="h2">Article 4 - Gestion du site</h2>
  <p>
    Pour la bonne gestion du site, l’éditeur pourra à tout moment :
  </p>
  <ul>
    <li>suspendre, interrompre ou de limiter l’accès à tout ou partie du site, réserver l’accès au site, ou à certaines parties du site, à une catégorie déterminée d’internaute ;</li>
    <li>supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec les lois nationales ou internationales, ou avec les règles de la Nétiquette ;</li>
    <li>suspendre le site afin de procéder à des mises à jour.</li>
  </ul>
  <h2 class="h2">Article 5 - Responsabilités</h2>
  <p>
    La responsabilité de l’éditeur ne peut être engagée en cas de défaillance, panne, difficulté ou interruption de fonctionnement, empêchant l’accès au site ou à une de ses fonctionnalités.
    <br>
    Le matériel de connexion au site que vous utilisez est sous votre entière responsabilité. Vous devez prendre toutes les mesures appropriées pour protéger votre matériel et vos propres données notamment d’attaques virales par Internet. Vous êtes par ailleurs le seul responsable des sites et données que vous consultez.
  </p>
  <p>L’éditeur ne pourra être tenu responsable en cas de poursuites judiciaires à votre encontre :</p>
  <ul>
    <li>du fait de l’usage du site ou de tout service accessible via Internet ;</li>
    <li>du fait du non-respect par vous des présentes conditions générales.</li>
  </ul>
  <p>
    L’éditeur n’est pas responsable des dommages causés à vous-même, à des tiers et/ou à votre équipement du fait de votre connexion ou de votre utilisation du site et vous renoncez à toute action contre lui de ce fait.
    <br>
    Si l’éditeur venait à faire l’objet d’une procédure amiable ou judiciaire à raison de votre utilisation du site, il pourra retourner contre vous pour obtenir indemnisation de tous les préjudices, sommes, condamnations et frais qui pourraient découler de cette procédure.
  </p>
  <h2 class="h2">Article 6 - Cookies</h2>
  <p>
    Le site peut collecter automatiquement des informations standards. Toutes les informations collectées indirectement ne seront utilisées que pour suivre le volume, le type et la configuration du trafic utilisant ce site, pour en développer la conception et l’agencement et à d’autres fins administratives et de planification et plus généralement pour améliorer le service que nous vous offrons.
  </p>
  <h2 class="h2">Article 7 - Photographies et représentation des produits</h2>
  <p>
    Les photographies de produits, accompagnant leur description, ne sont pas contractuelles et n’engagent pas l’éditeur.
  </p>
  <h2 class="h2">Article 8 - Loi applicable</h2>
  <p>
    Les présentes conditions d’utilisation du site sont régies par la loi française et soumises à la compétence des tribunaux de ..... (ville du siège social de l’éditeur), sous réserve d’une attribution de compétence spécifique découlant d’un texte de loi ou réglementaire particulier.
  </p>
  <h2 class="h2">Article 9 - Contactez-nous</h2>
  <p>
    Pour toute question, information sur les produits présentés sur le site, ou concernant le site lui-même, vous pouvez laisser un message à l’adresse suivante : ..... (adresse de la boîte e-mail).
  </p>
</Layout>