---
import Layout from "./_composants/Layout.astro";
---

<Layout title="Notre équipe, nos valeurs">
  <h1 class="h1">Notre équipe</h1>
  <p>
    Faustine Lalle est juriste en droit du handicap. Elle forme les professionnels et informe les personnes concernées de leurs droits. Elle a notamment été directrice juridique de l’association Droit Pluriel qui intervient dans le milieu judiciaire pour défendre les droits des personnes en situation de handicap. Elle a dirigé la première permanence juridique 100 % accessible et gratuite pour les personnes en situation de handicap et aidants. Aménagements du poste de travail, violences sexuelles, responsabilité des professionnels, etc. Les sujets relatifs aux problématiques en établissements médico-sociaux et en entreprise lui étaient posées quotidiennement. Elle nourrit son parcours professionnel de son expérience de personne en situation de handicap invisible.
    <br>
    <em>Un petit truc en plus</em> : Faustine peut s’exprimer en langue des signes et est famille d’accueil de chiens d’assistance de personnes en situation de handicap.
  </p>
  <p>
    Tiphaine Pericard est soignante, formatrice et consultante. Orthophoniste sur le terrain pendant 20 ans en ITEP, MAS, FAM, foyer de vie et EHPAD, elle a développé une expertise dans la relation de soin et d’accompagnement des personnes vulnérables. Diplômée du MBA « Direction de structures de santé et de solidarité » de l’ILV, elle est une actrice engagée dans les projets de transformation des institutions dans le champ médico-social en collaboration avec des experts d’usage. Elle contribue à des actions de formation luttant contre la maltraitance et favorisant la bientraitance dans les secteurs sanitaire et médico-social. Elle promeut dans ses actions la vision capacitaire de la personne accompagnée et la coconstruction.
    <br>
    <em>Un petit truc en plus</em> : Tiphaine s’appuie sur une expérience de développement personnel intégrant la psychanalyse, les neurosciences, les médecines douces.
  </p>
  <h1 class="h1">Nos valeurs</h1>
  <p>
    Nous croyons que nos actions doivent s’appuyer sur la réalité du terrain. Nous vous proposons de partir de situations concrètes, vécues au quotidien par les personnes accompagnées et les professionnels. Nous venons éclairer ces expériences avec informations juridiques et clés d’accompagnement.
  </p>
  <p>
    Nous posons comme priorité de toutes nos actions l’écoute active, des besoins, difficultés et souhaits des personnes en situation de handicap et personnes vulnérables.
    <br>
    Nous appliquons une vision capacitaire quel que soit le handicap: pour transformer le « faire pour » en « faire avec » la personne accompagnée. Nous contribuons alors à rendre la personne concernée actrice de sa vie, donc détentrice d’un pouvoir d’agir.
    <br>
    Nous donnons ainsi une traduction concrète au concept d’autodétermination des personnes vulnérables.
    <br>
    Nous considérons la pair-aidance comme un élément incontournable de l’empouvoirement ou <em>empowerment</em>.
  </p>
  <p>
    Nous savons que pour accompagner les personnes vulnérables et en situation de handicap, il faut aussi prendre soin de ceux qui les accompagnent.
    <br>
    Nous proposons dans nos actions de venir lever des tabous, d’informer pour responsabiliser chaque acteur de manière juste et éclairée.
    <br>
    Nous soutenons la démarche du professionnel de l’accompagnement qui engage une réflexion sur sa pratique et sur lui-même.
    <br>
    Nous impulsons des dynamiques, d’intelligence collective et de complémentarité des compétences.
  </p>
  <p>
    Nous envisageons la coconstruction comme une composante à part entière de nos actions. Nous souhaitons dépasser le stade du concept pour lui donner corps. C’est pour cela que nous vous proposons dans nos formations des formules qui incluent la participation directe des personnes accompagnées. Nous voyons dans la coconstruction la réconciliation entre autodétermination des personnes et responsabilité professionnelle.
  </p>
  <p>
    <em>Un petit truc en plus</em> :  notre double compétence. Le respect des droits est la base solide sur laquelle peut se construire un accompagnement centré sur l’humain.
  </p>
</Layout>