---
import Layout from "./_composants/Layout.astro";
---

<Layout title="Nous contacter">
  <h1 class="h1">Nous contacter</h1>
  <p>Pour plus de renseignements, modalités et tarifs, n’hésitez pas à nous contacter : <a href="mailto:contact@hantheia.fr">contact@hantheia.fr</a> ou XX XX XX XX XX.</p>
</Layout>