---
import Layout from "./_composants/Layout.astro";
---

<Layout title="Particuliers">
  <h1 class="h2">Particuliers</h1>
  <p>Vous êtes :</p>
  <ul>
    <li>une personne concernée par le handicap ou la vulnérabilité ;</li>
    <li>une salariée, un salarié en situation de handicap ;</li>
    <li>une aidante, un aidant ;</li>
    <li>une professionnelle, un professionnel de l’accompagnement ou du soin.</li>
  </ul>
  <p>Vous rencontrez des difficultés relevant du respect des droits et/ou de l’accompagnement humain.</p>
  <p>Nous vous accompagnons en coconstruisant avec vous une solution sur mesure adaptée à vos attentes.</p>
  <p>Pour plus de renseignements, modalités et tarifs, n’hésitez pas à nous contacter : <a href="mailto:contact@hantheia.fr">contact@hantheia.fr</a> ou XX XX XX XX XX.</p>
</Layout>